 * {
     box-sizing: border-box;
 }

 .box1 {
     display: inline;
     width: 200px;
     height: 200px;
     padding: 20px;
     background-color: rgb(38, 128, 0);
     border: 20px solid black;
     margin: 20px;

 }

 .box2 {
     display: inline-block;
     width: 200px;
     height: 200px;
     padding: 20px;
     background-color: pink;
     border: 20px solid black;
     margin: 20px;
 }

 .box3 {
     width: 200px;
     height: 200px;
     padding: 20px;
     background-color: red;
     border: 20px solid black;
     margin: 20px;
     position: relative;
     margin-left: 100px;
     border-right: 1px;
     padding-top: 10px;
 }

 .relative {
     position: relative;
     border: 3px solid blue;
 }

 .sticky {
     position: sticky;
     top: 0px;
     left: 0px;
     background-color: purple;
     z-index: 2;
 }
 .absolute {
    position: absolute;
    right: 0;
    background-color: orange;
}
 .fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-width: 25rem;
    background-color: yellow;
    z-index: 1;
}

.narrow {
    width: 300px;
}
 .static {
     border: 3px solid pink;
 }

