.DS_Store
*.swp
Git/.DS_Store
Git/00-visual-studio.pdf
Git/00-vscode.pdf
Git/3.2-haciendo-commit-9.mp4
Git/3.3-Crear-repositorio-en-local-10.mp4
Git/4.3-Conflictos-Basico-15.mp4
Git/4.8-Stash-20.mp4
Git/4.9-Renombrando-Ramas-21.mp4
Git/5-vscode-22.mp4
Git/6-vstudio-23.mp4
Html/.DS_Store
Html/07-guia-modelo-de-caja .pdf
Html/08-guia-posicionamiento (1).pdf
Html/1-Introduccion.mp4
Html/1-html-basic-etiquetas.pdf
Html/5-Formularios.mp4
Html/6-Intro-CSS.mp4
Html/7-modelo-de-caja .mp4
Html/~$*
Html/text/.hintrc
Html/8-Posicionamiento.mp4
Html/09-guia-cascada.pdf
Html/014-guia-intro-flexbox.pdf
Html/015-guia-intro-grid.pdf
Html/013-CSS-VARIABLES-roots.pdf
.gitignore
